In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [11]:
data=pd.read_csv('./adult.data',sep=',',header=None)

In [ ]:
pd.read_pickle('')

In [17]:
cols=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-week','country','']

In [18]:
data.columns=cols

In [1]:
for col in data:
    
    if isinstance(data[col].iloc[0],str):
        print(col)
        print(data[col].unique())

NameError: name 'data' is not defined

In [56]:
test=pd.read_csv('./census_income/adult.test',sep=',',header=None)

In [58]:
test.columns=cols

In [95]:
test.shape

(15060, 15)

In [94]:
test[test==' ?'].notna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-week        0
country           0
                  0
dtype: int64

In [93]:
for col in test:
    test.drop(test.index[test[col]==' ?'],axis=0,inplace=True)

In [77]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-week,country,
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [89]:
for col in data:
    data.drop(data.index[data[col]==' ?'],axis=0,inplace=True)

In [90]:
data[data==' ?'].notna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-week        0
country           0
                  0
dtype: int64

In [96]:
def encode_hot(df):
    dg=df.copy()
    for col in df:
        if isinstance(dg[col].iloc[0],str):
            dummies=pd.get_dummies(dg[col])
            dg.drop(col,axis=1,inplace=True)
            dg=pd.concat([dummies,dg],axis=1)
    return dg

In [98]:
encode_hot(data.iloc[:,:-1])

,Cambodia,Canada,China,Columbia,Cuba,Dominican-Republic,Ecuador,El-Salvador,England,France,...,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay,age,fnlwgt,education-num,capital-gain,capital-loss,hours-week
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,39,77516,13,2174,0,40
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,50,83311,13,0,0,13
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,38,215646,9,0,0,40
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,53,234721,7,0,0,40
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,28,338409,13,0,0,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,27,257302,12,0,0,38
32557,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,40,154374,9,0,0,40
32558,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,58,151910,9,0,0,40
32559,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,22,201490,9,0,0,20
32560,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,52,287927,9,15024,0,40