In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('./HungarianChickenPox/hungary_chickenpox.csv')

In [4]:
data.isna().sum()

Date        0
BUDAPEST    0
BARANYA     0
BACS        0
BEKES       0
BORSOD      0
CSONGRAD    0
FEJER       0
GYOR        0
HAJDU       0
HEVES       0
JASZ        0
KOMAROM     0
NOGRAD      0
PEST        0
SOMOGY      0
SZABOLCS    0
TOLNA       0
VAS         0
VESZPREM    0
ZALA        0
dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522 entries, 0 to 521
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      522 non-null    object
 1   BUDAPEST  522 non-null    int64
 2   BARANYA   522 non-null    int64
 3   BACS      522 non-null    int64
 4   BEKES     522 non-null    int64
 5   BORSOD    522 non-null    int64
 6   CSONGRAD  522 non-null    int64
 7   FEJER     522 non-null    int64
 8   GYOR      522 non-null    int64
 9   HAJDU     522 non-null    int64
 10  HEVES     522 non-null    int64
 11  JASZ      522 non-null    int64
 12  KOMAROM   522 non-null    int64
 13  NOGRAD    522 non-null    int64
 14  PEST      522 non-null    int64
 15  SOMOGY    522 non-null    int64
 16  SZABOLCS  522 non-null    int64
 17  TOLNA     522 non-null    int64
 18  VAS       522 non-null    int64
 19  VESZPREM  522 non-null    int64
 20  ZALA      522 non-null    int64
dtypes: int64(20), object(1)
memory usage: 85.8+ KB